.sleep {
    background-color: rgb(4, 4, 59);
    height: 665px;
    width: 100%;
}

.time {
    display: flex;
    justify-content: center;
    font-family: "Avenir Next LT Pro";
    font-size: 60px;
    -webkit-text-fill-color: rgb(255, 140, 0);
}

.logo{
    display: flex;
    width: 550px;
    height:425px;
    margin-left: 325px;
    margin-top: -50px;
}

.home {
    background-color: rgb(4, 4, 59);
    /* height: 645px;
    width:1200px; */
    height: 640px;
    width: 100%;
}

.timeButton {
    display: flex;
    justify-content: space-between;
}

.currentTime {
    font-size: 80px;
    background-color: rgb(255, 140, 0);
    border-radius: 10px;
    margin-right: 50px;
}

.brewButton {
    display: flex;
    justify-content: left;
    margin-left: 50px;
}

.previousBrew {
    font-size: 40px;
    background-color: rgb(255, 140, 0);
    border-radius: 10px;
    margin-left: 50px;
}

.input {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .button {
    border-radius: 8px;
    font-size: 20px;
    background-color: rgb(255, 140, 0);
  }
  
  .boxes {
    background-color: rgb(255, 140, 0);
    border-radius: 5px;
    font-size:20px;
  }

  .homeLogo {
    display: flex;
    justify-content: center;
    height:255px;
    width:330px;
    margin-left: 430px;
  }

  .profiles {
    background-color: rgb(4, 4, 59);
    height: 640px;
    width:100%;
    display: inline-block;
    justify-content: space-evenly;
  }

  .profilesButton {
    background-color: rgb(255, 140, 0);
    display: inline-block;
    font-size: 80px;
    margin-top: 200px;
    padding: 60px 10px 60px 10px;
    border-radius: 20px;
  }

  .graphTime {
    font-size: 10px;
  }

  .brew {
    height: 600px;
  }

  .settings {
    background-color: rgb(4, 4, 59);
    height: 640px;
    width:100%;
  }

  .settingsTime {
    -webkit-text-fill-color: rgb(255, 140, 0);
  }

  .settingsButton {
    background-color: rgb(255, 140, 0);
    font-size: 40px;
    padding: 5px 50px 5px 50px;
  }