.App {
  text-align: center;
}

/* .navbar{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(4, 4, 59);

} */

.link {
  border-radius: 5px;
  border-color: rgb(255, 140, 0);
  font-size: 30px;
  background-color: rgb(255, 140, 0);
  border-color: rgb(255, 140, 0);
  -webkit-text-fill-color: rgb(4, 4, 59);
  padding: 2px 6px 2px 6px;
}

.navbar {
  border-bottom: solid 1px #EBEBEB;
  background-color: rgb(4, 4, 59);
  
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: rgb(255, 140, 0);
}
.bottom-tab-label {
  font-size: 12px;
}

